POSTGRES_DB=mydatabase
POSTGRES_USER=myuser
POSTGRES_PASSWORD=secret_change_me

SONAR_JDBC_URL=jdbc:postgresql://postgres-sonar:5432/sonarqube
SONAR_JDBC_USERNAME=sonaruser
SONAR_JDBC_PASSWORD=sonar_secret
SONAR_TOKEN=seu_token_aqui
