<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<springProperty scope="local" name="serviceName" source="spring.application.name"
		defaultValue="workshop-service"/>
	<springProperty scope="local" name="environment" source="otel.environment" defaultValue="local"/>

	<springProfile name="default | local | test">
		<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
			<encoder>
				<pattern>%d{HH:mm:ss.SSS} %-5level [%X{correlationId:-}] %logger{36} - %msg%n</pattern>
			</encoder>
		</appender>
		<root level="INFO">
			<appender-ref ref="CONSOLE"/>
		</root>
	</springProfile>

	<springProfile name="prod">
		<appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
			<encoder class="net.logstash.logback.encoder.LogstashEncoder">
				<fieldNames>
					<timestamp>timestamp</timestamp>
				</fieldNames>
				<includeMdcKeyName>correlationId</includeMdcKeyName>
				<includeMdcKeyName>traceId</includeMdcKeyName>
				<includeMdcKeyName>spanId</includeMdcKeyName>
				<customFields>{"service":"${serviceName}","environment":"${environment}","event":"application_log"}</customFields>
			</encoder>
		</appender>
		<root level="INFO">
			<appender-ref ref="JSON"/>
		</root>
	</springProfile>
</configuration>
